@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');




body{
	background-color: rgba(51,255,212, 0.5);
	font-family: 'Roboto Mono', monospace;	
}

h1 {
    text-shadow: 4px 3px 0px #fff, 6px 4px 0px rgba(0,0,0,0.15);
    text-align: left;
    position: relative; 
    margin-top 200px;
}

h4 { 
	font-weight:medium; 
	text-shadow: 2px 2px 4px #000000;
}

.div-bg {
	background: url('Images/newbackground.jpg');
	width: 1255px;
	height: 1000px;
	background-size: cover;
	background-origin: border-box;
}

 

img {
  box-shadow: 5px 5px 5px #777777;
  }

ol {
	margin-top: 60px;
	margin-left: 20px; 
}
  
    

li {
    color: black;
    text-shadow: 2px 2px 4px #000000;
}

blockquote {
	background: #18EDC6;
	margin: 5px; 10px
	color: #999;
	border-left: 4px solid #999;
	padding-left: 5px; 
	text-align: center;
	font-family: 'Roboto Mono', bold;
	}

img {
  border: 2px solid #28D1BD;
  width:  275px;
  border-radius:10px;
  }

.thumbnail:hover {
    position:relative;
    top:-20px;
    left:-10px;
    width:315px;
    height:auto;
    display:inline;
    z-index:999;
}

  	
 input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #none;
    padding: 20px;
}

.topnav {
  display: block; 
  background-color: none;
  margin: left;
  float:left;
  position:absolute;
  
  }

.topnav a {
  float: left; 
  display: block;
  color: 000000;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
  
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}




.wrapper {
  margin: 20px;
  padding: 200px;
  background-color: white;
  box-shadow: 1px 1px 4px #999;
}

.tiles img {
  margin; 25px;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 2px;
  box-border: 2px solid black;
}
.tiles {
  display: inline-block;
  position: relative;
  width: 33%;
}
  
 








	

	